.resizeSliderImg {
    margin-left: 220px;
    width: 75%;
  }

@media only screen and (max-width: 1025px) {
    .resizeSliderImg {
      margin-left: 0px;
      width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .slider-area {
      padding-top: 40px !important;
    }
}

@media only screen and (max-width: 700px) {
  .customImage {
    padding-top: 40px !important;
  }
}
